# MATLAB
*.mat
*.asv

# LaTeX build files
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.run.xml
*.lof
*.lot
*.pdf

# CSV Debug/Exports
*.csv

# zip files
*.zip

# Local path configuration (per machine)
configs/paths_local.m